<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maintenance model</title>
</head>
<body>
<h1>Maintenance prediction model</h1>
<h3>M001:DRILL     M002:WELDER    M003:CNC    M004:CONVEYOR </h3> <br>
<form action="/predict" method="POST">
    <label for="machine_id">Machine ID</label>
    <select name="machine_id" required>
        {% for id in machine_ids %}
      <option value="{{ id }}">{{ id }}</option>
    {% endfor %}
    </select>
    <br><br>

    <label for="Vibration level" >Vibration Level(0-20)</label>
        <input type="number" name="Vibration level" min="0" max="100">
    <br><br>

    <label for="Temperature" >Temperature (0-100°C)</label>
        <input type="number" name="Temperature" min="0" max="100">
    <br><br>

    <label for="Power_consumption">Power Consumption (1–30 kW):</label>
    <input type="number" name="Power_consumption" min="1" max="30" step="1" required>
    <br><br>


    <input type="submit" value="predict"  style="width: 80px; height: 30px;">
  <br><br>
  {% if prediction %}
    <h2>Prediction Result:<p><strong>{{ prediction }}</strong></p></h2>

    <h4>To know how this model works <a href="https://github.com/Izhankhan99k/maintanencemodel">Check my github repo IzhanKhan99k</a> </h4>


  {% endif %}

</form>
</body>
</html>